<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<title>Insert title here</title>

<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet"
	href="materialize/css/materialize.min.css" media="screen,projection" />

</head>
<body class="blue lighten-3">
	<h1 class="main-title center">Bem Vindo ao Services-Geo</h1>

	<div class="row center">
		<div class="col s12 m4 l4 waves-effect waves-light">
			<a href="/aluno/cadastrar">
				<div class="card-panel hoverable z-depth-1 center gray lighten-4">
					<i class="large material-icons">perm_identity</i>
					<div class="truncate">Cadastrar Alunos</div>
				</div>
			</a>
		</div>

		<div class="col s12 m4 l4 waves-effect waves-light">
			<a href="/aluno/listar">
				<div class="card-panel hoverable z-depth-1 center grey lighten-4">
					<i class="large material-icons">search</i>
					<div class="truncate">Pesquisar</div>
				</div>
			</a>
		</div>

		<div class="col s12 m4 l4 waves-effect waves-light">
			<a href="/aluno/pesquisarnome">
				<div class="card-panel hoverable z-depth-1 center grey lighten-4">
					<i class="large material-icons">search</i>
					<div class="truncate">Pesquisar por nome</div>
				</div>
			</a>
		</div>

		<div class="col s12 m4 l4 waves-effect waves-light">
			<a href="/nota/iniciarpesquisa">
				<div class="card-panel hoverable z-depth-1 center grey lighten-4">
					<i class="large material-icons">search</i>
					<div class="truncate">Pesquisar por Nota</div>
				</div>
			</a>
		</div>

		<div class="col s12 m4 l4 waves-effect waves-light">
			<a href="/geolocalizacao/iniciarpesquisa">
					<div class="card-panel hoverable z-depth-1 center grey lighten-4">
						<i class="large material-icons ">my_location </i>
						<div class="truncate">Pesquisar por Geolocalizacao</div>
				</div>
			</a>
		</div>

	</div>

	<script type="text/javascript"
		src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>

</body>
</html>